.container {
    display: grid;
    grid-template-columns: [linea-c-1] 1fr [linea-2-c] 1fr [linea-c-3] 1fr;
    gap: 3%;
    grid-template-rows: [linea-r-1] 1fr [linea-r-2] 1fr [linea-r-3] 1fr [linea-r-4] 1fr [linea-r-5];
    row-gap: 3%;
    width: 50%;
    height: 50vh;
    
}

head {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}